.site-wrapper {
    display: flex;
    flex-direction: column;
    border: solid 
    3px black;
    font-family: Arial, Helvetica, sans-serif;
    width: 60%;
}
.form-wrapper {
    position: relative;
    display: flex;
    flex-direction: column ;
    margin: 40px;
}
#inputField , #jobDescription { 
    height: 50px;
    border: solid 2px rgb(241, 241, 241);
    border-radius: 5px;
    box-sizing: border-box; 
}
#jobDescription:invalid {
    color: rgb(139, 138, 138);
}
#input-field{
    margin-bottom: 30px;
}
#createBtn {
    margin-top: 20px;
    width: 10%;
    color: gray;
}
.record-section {
    margin: 40px;
}
.record-wrapper{
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    border-bottom: solid 3px black;
}
.header{
    height: 50px;
    border-radius: 5px;
    margin-bottom: 0px;
    padding-bottom: 0;
    width: 7em;
}
.record-container {
    display: flex;
    flex-flow: column wrap ;
    margin-top: 10px ;
}
.li-wrapper {
    display: flex;
    flex-flow: row wrap;
    background-color: red;
    max-height: 70px;
}
.li-style {
    display: flex;
    flex-grow: 1;
    height: 70px;
    padding-left: 20px ;
    align-items: center;
    min-width: 30%;
}
#pop-up-screen{
    display: none;
    position: relative;
    background-color: grey;
    height: 250px;
    width: 40%;
    left: 58%;
    bottom: 25em;
    text-align: center;
}
#pop-up-title {
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(139, 138, 138);
    font-size: 20px;
    font-weight: 500;
}
#pop-up-content {
    display: inline-block;
    position: relative;
    background-color:white;
    margin-top: 10px;
    height: 91%;
    width: 97%;
    border-radius: 5px;
}
#pop-up-job-description:invalid{
    color: rgb(139, 138, 138);
    width: 50%;
    height: 40px;
    box-sizing: border-box;
    border: solid 1px rgb(226, 226, 226);
    border-radius: 5px;
}
#pop-up-job-description{
    color: rgb(139, 138, 138);
    width: 50%;
    height: 40px;
    box-sizing: border-box;
    border: solid 1px rgb(226, 226, 226);
    border-radius: 5px;
}
#update-btn{
    position: relative;
    color: gray;
    bottom: 60px;
}
.record-section-btn{
    position: relative;
    color: gray;
    margin-left: 20px;
    width: 25%;
    right: 15%;
}




